<p-dialog header="Cadastro dos Fieis" [(visible)]="visivel" (onHide)="fecharModal()" [modal]="true"
  [style]="{ width: '800px', height: '80vh' }">
  <!-- Formulário envolve o container do grid -->
  <form [formGroup]="formulario">

    <div class="campos">

      <div class="mensagem">
        @if (formulario.invalid && formulario.touched) {
        <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">
          A validação falhou!
        </p-message>
        }
      </div>

      <!-- Matrícula -->
      <div class="campo">
        <label>Matrícula</label>
        <input pInputText formControlName="matricula" placeholder="Matrícula"
          [invalid]="formulario.get('matricula')?.invalid && formulario.get('matricula')?.touched" />
        @if (formulario.get('matricula')?.invalid && formulario.get('matricula')?.touched) {
        <p-message severity="error" variant="simple" size="small">A matrícula é obrigatória</p-message>
        }
      </div>

      <!-- Nome -->
      <div class="campo">
        <label>Nome</label>
        <input pInputText formControlName="nome" placeholder="Nome"
          [invalid]="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" />
        @if (formulario.get('nome')?.invalid && formulario.get('nome')?.touched) {
        <p-message severity="error" variant="simple" size="small">O nome é obrigatório</p-message>
        }
      </div>

      <!-- Telefone -->
      <div class="campo">
        <label>Telefone</label>
        <p-input-number [minlength]="11" mask="(99) 99999-9999" formControlName="telefone" placeholder="Telefone. Ex (99) 99999-9999"
          [invalid]="formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched" />
        @if (formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched) {
        <p-message severity="error" variant="simple" size="small">Telefone inválido</p-message>
        }
      </div>

      <!-- Nome Responsável -->
      <div class="campo">
        <label>Nome responsável</label>
        <input pInputText formControlName="nomeResponsavel" placeholder="Nome responsável"
          [invalid]="formulario.get('nomeResponsavel')?.invalid && formulario.get('nomeResponsavel')?.touched" />
        @if (formulario.get('nomeResponsavel')?.invalid && formulario.get('nomeResponsavel')?.touched) {
        <p-message severity="error" variant="simple" size="small">Nome do responsável é obrigatório</p-message>
        }
      </div>

      <!-- Telefone Responsável -->
      <div class="campo">
        <label>Telefone Responsável</label>
        <p-inputNumber [minlength]="11" mask="(99) 99999-9999" formControlName="telefoneResponsavel" placeholder="Telefone Responsável. Ex (99) 99999-9999"
          [invalid]="formulario.get('telefoneResponsavel')?.invalid && formulario.get('telefoneResponsavel')?.touched" />
        @if (formulario.get('telefoneResponsavel')?.invalid && formulario.get('telefoneResponsavel')?.touched)
        {
        <p-message severity="error" variant="simple" size="small">Telefone do responsável inválido</p-message>
        }
      </div>

      <!-- Data de Nascimento + Idade -->
      <div class="campo-linha">
        <div class="campo">
          <label>Data nascimento</label>
          <p-datepicker formControlName="dataNascimento" dateFormat="dd/mm/yy" placeholder="Data nascimento" />
          @if (formulario.get('dataNascimento')?.invalid && formulario.get('dataNascimento')?.touched) {
            <p-message severity="error" variant="simple" size="small">Data de nascimento inválida</p-message>
          }
          <input pInputText formControlName="idadeAtual" placeholder="Idade" />
        </div>
      </div>

      <!-- Status (radio) -->
      <div class="campo">
        <label>Status</label>
        <div class="flex align-items-center gap-2">
          <p-radiobutton name="tipo" formControlName="tipo" inputId="statusAtivo" value="1">
          </p-radiobutton>

          <label for="oferta">Ativo</label>
        </div>

        <div class="flex align-items-center gap-2">
          <p-radiobutton name="tipo" formControlName="tipo" inputId="statusInativo" value="2">
          </p-radiobutton>

          <label for="dizimo">Inativo</label>
        </div>
      </div>

    </div>



    <!-- BLOCO DA DIREITA: BOTÕES (180px) -->
    <div class="acoes">
      <p-button label="Novo" [disabled]="!novoHabilitado" (onClick)="novoAluno()"></p-button>
      <p-button label="Alterar" [disabled]="!alterarHabilitado" (onClick)="editar()"></p-button>
      <p-button label="Apagar" [disabled]="!apagarHabilitado" (onClick)="apagar()"></p-button>
      <p-button label="Salvar" [disabled]="!salvarHabilitado" (onClick)="salvar()"></p-button>
      <p-button label="Cancelar" [disabled]="!cancelarHabilitado" (onClick)="cancelar()"></p-button>
      <p-button label="Fechar" [disabled]="!fecharHabilitado" (onClick)="fecharModal()"></p-button>
    </div>

  </form>
</p-dialog>