<p-dialog header="Cadastro dos Fieis" [(visible)]="visivel" (onHide)="fecharModal()" [modal]="true"
  [style]="{ width: '800px', height: '60vh' }">
  <!-- Formulário envolve o container do grid -->
  <form [formGroup]="formularioAluno">

    <div class="campos">

      <div class="mensagem">
        @if (formularioAluno.invalid && formularioAluno.touched) {
        <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">
          A validação falhou!
        </p-message>
        }
      </div>

      <!-- Matrícula -->
      <div class="campo">
        <label>Matrícula</label>
        <input pInputText formControlName="matricula" placeholder="Matrícula"
          [invalid]="formularioAluno.get('matricula')?.invalid && formularioAluno.get('matricula')?.touched" />
        @if (formularioAluno.get('matricula')?.invalid && formularioAluno.get('matricula')?.touched) {
        <p-message severity="error" variant="simple" size="small">A matrícula é obrigatória</p-message>
        }
      </div>

      <!-- Nome -->
      <div class="campo">
        <label>Nome</label>
        <input pInputText formControlName="nome" placeholder="Nome"
          [invalid]="formularioAluno.get('nome')?.invalid && formularioAluno.get('nome')?.touched" />
        @if (formularioAluno.get('nome')?.invalid && formularioAluno.get('nome')?.touched) {
        <p-message severity="error" variant="simple" size="small">O nome é obrigatório</p-message>
        }
      </div>

      <!-- Telefone -->
      <div class="campo">
        <label>Telefone</label>
        <p-inputmask mask="(99) 99999-9999" formControlName="telefone" placeholder="Telefone"
          [invalid]="formularioAluno.get('telefone')?.invalid && formularioAluno.get('telefone')?.touched" />
        @if (formularioAluno.get('telefone')?.invalid && formularioAluno.get('telefone')?.touched) {
        <p-message severity="error" variant="simple" size="small">Telefone inválido</p-message>
        }
      </div>

      <!-- Nome Responsável -->
      <div class="campo">
        <label>Nome responsável</label>
        <input pInputText formControlName="nomeResponsavel" placeholder="Nome responsável"
          [invalid]="formularioAluno.get('nomeResponsavel')?.invalid && formularioAluno.get('nomeResponsavel')?.touched" />
        @if (formularioAluno.get('nomeResponsavel')?.invalid && formularioAluno.get('nomeResponsavel')?.touched) {
        <p-message severity="error" variant="simple" size="small">Nome do responsável é obrigatório</p-message>
        }
      </div>

      <!-- Telefone Responsável -->
      <div class="campo">
        <label>Telefone Responsável</label>
        <p-inputmask mask="(99) 99999-9999" formControlName="telefoneResponsavel" placeholder="Telefone Responsável"
          [invalid]="formularioAluno.get('telefoneResponsavel')?.invalid && formularioAluno.get('telefoneResponsavel')?.touched" />
        @if (formularioAluno.get('telefoneResponsavel')?.invalid && formularioAluno.get('telefoneResponsavel')?.touched)
        {
        <p-message severity="error" variant="simple" size="small">Telefone do responsável inválido</p-message>
        }
      </div>

      <!-- Data de Nascimento + Idade -->
      <div class="campo-linha">
        <div class="campo">
          <label>Data nascimento</label>
          <p-datepicker formControlName="dataNascimento" dateFormat="dd/mm/yy" placeholder="Data nascimento" />
          <input pInputText formControlName="nome" placeholder="Nome"
            [invalid]="formularioAluno.get('nome')?.invalid && formularioAluno.get('nome')?.touched" />
          @if (formularioAluno.get('nome')?.invalid && formularioAluno.get('nome')?.touched) {
          <p-message severity="error" variant="simple" size="small">O nome é obrigatório</p-message>
          }
        </div>
      </div>

      <!-- Status (radio) -->
      <div class="campo">
        <label>Status</label>
        <p-radioButton name="status" [value]="1" formControlName="status" inputId="ativo">
        </p-radioButton>

        <label for="ativo">Ativo</label>


        <p-radioButton name="status" [value]="0" formControlName="status" inputId="inativo">
        </p-radioButton>
      </div>
    </div>



    <!-- BLOCO DA DIREITA: BOTÕES (180px) -->
    <div class="acoes">
      <!-- <p-button label="Novo" [disabled]="!novoHabilitado" (onClick)="novoaluno()"></p-button> -->
      <p-button label="Alterar" [disabled]="!alterarHabilitado" (onClick)="editar()"></p-button>
      <!-- <p-button label="Apagar" [disabled]="!apagarHabilitado" (onClick)="apagar()"></p-button> -->
      <!-- <p-button label="Salvar" [disabled]="!salvarHabilitado" (onClick)="salvar()"></p-button> -->
      <p-button label="Cancelar" [disabled]="!cancelarHabilitado" (onClick)="cancelar()"></p-button>
      <p-button label="Fechar" [disabled]="!fecharHabilitado" (onClick)="fecharModal()"></p-button>
    </div>

  </form>
</p-dialog>