<p-dialog header="Cadastro das Turmas" [(visible)]="visivel" (onHide)="fecharModal()" [modal]="true"
  [style]="{ width: '900px', height: '60vh' }">
  <form [formGroup]="formulario">

    <div class="campos">

      <div class="mensagem">
        @if (formulario.invalid && formulario.touched) {
        <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">
          A validação falhou!
        </p-message>
        }
      </div>

       <!-- Codigo -->
      <div class="campo">
        <label>Código</label>
        <input pInputText formControlName="codigo" placeholder="Codigo" [disabled]="false" readonly/>
      </div>


      <!-- Nome -->
      <div class="campo">
        <label>Nome</label>
        <input pInputText formControlName="nome" placeholder="Nome"
          [invalid]="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" />
        @if (formulario.get('nome')?.invalid && formulario.get('nome')?.touched) {
        <p-message severity="error" variant="simple" size="small">O nome é obrigatório</p-message>
        }
      </div>

      <!-- Professor cmp -->
      <div class="field flex-grow-1">
        <label>Professor</label>

        <!-- Container flex alinhado pela base com espaçamento correto -->
        <cmp-componente-professor inputId="professorMatricula" cmpProximoCampo="status" #pesqProf 
          formControlName="professorMatricula">
        </cmp-componente-professor>
         @if (formulario.get('professorMatricula')?.invalid && formulario.get('professorMatricula')?.touched) {
        <p-message severity="error" variant="simple" size="small">A matricula do professor é obrigatório</p-message>
        }
       
      </div>


      <div class="campo">
        <label>Status</label>

        <!-- Ativo -->
        <p-radioButton name="status" [value]="1" formControlName="status" id="status" inputId="ativo" />
        <label for="ativo">Ativo</label>

        <!-- Inativo -->
        <p-radioButton name="status" [value]="0" formControlName="status" inputId="inativo" />
        <label for="inativo">Inativo</label>
      </div>

      <!-- Aluno CMP -->
      <div class="field flex-grow-1">
        <label>Aluno</label>

        <!-- Container flex alinhado pela base com espaçamento correto -->
        <div class="field-row">
          <cmp-componente-aluno inputId="codAluno" cmpProximoCampo="bt-add" #pesqAluno formControlName="codAluno">
          </cmp-componente-aluno>

          <!-- Grupo de botões agrupados de forma fixa à direita -->
          <div class="button-group">
            <p-button icon="pi pi-minus" [disabled]="disabled ?? true" (onClick)="remover()"></p-button>

            <p-button [disabled]="disabled ?? true" id="bt-add" icon="pi pi-plus"
              (onClick)="add(formulario.get('codAluno')?.value); pesqAluno.limparTudo() ">
            </p-button>
          </div>
        </div>
      </div>


      <!-- Tabela Alunos -->
      <div class="tabela-container">

        <p-table [value]="listTAluno" [tableStyle]="{ 'min-width': '50rem' }">

          <ng-template pTemplate="header">
            <tr>
              <th>Matrícula</th>
              <th>Nome</th>
              <th>Status</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-aluno>
            <tr (click)="selecionado(aluno)">
              <td>{{ aluno.matricula }}</td>
              <td>{{ aluno.nome }}</td>
              <td>{{ aluno.status }}</td>
            </tr>
          </ng-template>

        </p-table>

      </div>
      <!-- Rodapé -->
      <div class="table-footer">

        <span >
          Total de registros encontrados:
          <strong >{{ listTAluno.length }}</strong>
        </span>

        <span>
          Máx. de linhas:
          <strong>{{ listTAluno.length }}</strong>
        </span>

      </div>
    </div>



    <!-- BLOCO DA DIREITA: BOTÕES (180px) -->
    <div class="acoes">
      <p-button label="Novo" [disabled]="!novoHabilitado" (onClick)="novo()"></p-button>
      <p-button label="Alterar" [disabled]="!alterarHabilitado" (onClick)="editar()"></p-button>
      <br>
      <p-button label="Salvar" [disabled]="!salvarHabilitado" (onClick)="salvar()"></p-button>
      <p-button label="Cancelar" [disabled]="!cancelarHabilitado" (onClick)="cancelar()"></p-button>
      <br>
      <p-button label="Apagar" [disabled]="!apagarHabilitado" (onClick)="apagar()"></p-button>
      <p-button label="Fechar" [disabled]="!fecharHabilitado" (onClick)="fecharModal()"></p-button>
    </div>

  </form>
</p-dialog>