<p-dialog header="Cadastro das Aulas" [(visible)]="visivel" (onHide)="fecharModal()" [modal]="true"
  [style]="{ width: '700px', height: '25vh' }">

  <form [formGroup]="form">

    <!-- Turma -->
      <div class="campo">
        <label>Turma</label>
        <cmp-componente-turma inputId="codAluno" cmpProximoCampo="bt-add" #pesqTurma formControlName="turmaCodigo"></cmp-componente-turma>
        @if (form.get('turmaCodigo')?.invalid && form.get('turmaCodigo')?.touched) {
        <p-message severity="error" variant="simple" size="small">A turma é obrigatória</p-message>
        }
      </div>

    <!-- Data -->
    <div class="campo">
      <label for="data">Data</label>

      <input pInputText id="data" type="date" formControlName="data" class="input-field"
        [invalid]="form.get('data')?.invalid && form.get('data')?.touched" />
        @if (form.get('data')?.invalid && form.get('data')?.touched) {
        <p-message severity="error" variant="simple" size="small">A data é obrigatória</p-message>
        }
    </div>

    <!-- Botões -->
    <div class="acoes">

      <button type="button" (click)="fecharModal()">

        Cancelar

      </button>

      <button type="button" (click)="criar()">

        Criar

      </button>

    </div>

  </form>

</p-dialog>